*{
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 70px;
    background-color: #1ABC9C;
    padding: 15px 0;
   
}
.header-wrapper {
    height: 40px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    
}
.social-icon {
    margin-right: 20px;
}
.about-us {
    display: flex;
    justify-content: ;
    align-items: center center;
}

.office {
    width: 50%;
    padding-right: 20px;
}
.text-section-aboutus {
    text-align: center;
    margin: auto;
}
.o-nas-text {
    text-align: center;
    font-size: 35px
}
.Lorem {
    text-align: left;
}
  .our-proj-text {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 35px;
    background-color: #DCFFEB;
  }
  .our-projects {
    background-color: #DCFFEB;
    margin: auto;
    display: flex;
    padding-top: 50px;
  }