* {
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Inter', sans-serif;
}

header {
    height: 70px;
    background-color: #1ABC9C;
    padding: 15px 0;

}

.header-wrapper {
    height: 40px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-right: 20px;

}

.social-icon {
    margin-right: 20px;
}

.about-us {
    display: flex;
    align-items: center center;
    height: 70vh;
}

.office {
    width: 50%;
    padding-right: 20px;
}

.text-section-aboutus {
    text-align: center;
    margin: auto;
}

.o-nas-text {
    text-align: center;
    font-size: 35px;
    width: 615px;
    margin: auto;
}

.Lorem {
    text-align: left;
    font-size: 20px;
    width: 620px;
}

/* Our Projects Sec  */

.projects {
    background: #DCFFEB;
    padding: 124px 0; 
}
.projects-wrapper {
    width: 90%;
    margin: auto;
}
.projects-title {
    font-size: 35px;
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    justify-content: space-between;
}
/* .project-img {
    width: calc(33% - 40px);
  
}
.project-img:not(:last-child) {
      margin-right: 40px;
} */
.project {
    width: 33%;
    aspect-ratio: 1.15/1;
    background-image: url(./Images/stadium.png);
    background-size: contain;
}
.project-hover {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 35px 15px;
    opacity: 0;
}
.project-hover:hover {
    opacity: 1;
    transition: 0.5s;
    cursor: grab;
}
.project-title, .project-descr {
    color: white;
 }
